.vertical-menu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 5px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
    background-color: #4CAF50; /* Add a green color to the "active/current" link */
    color: white;
}
.vertical-menu {
    width: 600px;
    height: 200px;
    overflow-y: auto;
}
.vertical-menu-small a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 10px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}

.vertical-menu-small a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu-small a.active {
    background-color: #4CAF50; /* Add a green color to the "active/current" link */
    color: white;
}
.vertical-menu-small {
    width: 600px;
    height: 150px;
    overflow-y: auto;
}
